@use '../ItemListContainer/ItemListContainer.scss';


.productos__titulo{
    background-color: #18171d;
    color: white;
    text-align: center;
}
.productos{
    padding-top: 25px;
    background-color: #18171d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}