.titulo__inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 350px ;
    gap: 20px;

    color: #000000;
    background-color: #ffb600;

    h1{
        font-size: 50px;
    }
    h3{
        font-size: 20px;
    }
}